<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">

	
  <h1>School List</h1>
  <f:if condition="{message}">
	{message}
  </f:if>
  <f:if condition="{school}">



	<f:then>
		<table cellpadding="0" cellspacing="0" border="0" style="border:0; border-spacing:0; border-bottom:#f2f5f7 solid 1px; padding:0; margin:0; width:100%; font-size:18px; font-weight:300; text-align:left; vertical-align:middle;">
			 <thead style="color:#f2f5f7;">
		  <tr>
			<th style="background:#005192; padding:5px 10px; font-weight:300; border-right:#fff solid 5px;">School Name
			</th>
			<th style="background:#005192; padding:5px 10px; font-weight:300; border-right:#fff solid 5px;">Google Class Id</th>                      
		  </tr>
		 </thead>
		<tbody>
	  	<f:for each="{school}" key="key" as="schools">
			
			<tr>
			<td style="background:#f2f5f7; padding:10px;">{schools.name} </td>
			<td style="background:#f2f5f7; padding:10px;">
            <f:if condition="{schools.googleclassid}">

            <f:then>
                {schools.googleclassid}
            </f:then>
            <f:else>
                <div class="generatepdfpop">
                    <f:link.action action="classidgenerate"  class="btn btn-primary" arguments="{uid:schools.uid,type:'generateclassid'}">Generate Class Id</f:link.action>
                </div>
            </f:else>
            </f:if>
			</td>			  
		  </tr>
		   
		</f:for>
		</tbody>
	 </table>
	 </f:then>
	 <f:else>
		 No Data Found
	 </f:else>
   </f:if>


 
</f:section>




</html>
