#camcam #open {
    position: relative;
    z-index: 2;
}

#camcam #wrap {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
}

#camcam #wrap.active {
    visibility: visible;
    pointer-events: auto;
}

#camcam #cont {
    position: relative;
    /* overflow: hidden; */
    /* width: 100% !important; */
    left: 0;
}
/*
.ios-device #camcam #cont{
  left: 0;
}
*/

/* #vid {
    width: 100% !important;
    height: auto !important;
}

#capture {
    width: 100% !important;
    height: auto !important;
}

#capture #canvas {
    width: 100%;
    height: auto;
} */

#camcam #vid video {
    /* max-width: 100%;
    max-height: 100%; */
    position: fixed;
  	left: 0px;
  	top: 0px;
}

#camcam #vid video.ios16{
    transform: scale(-1.8, 1.8) !important;
}

#camcam .son {
    position: absolute;
    top: 0;
    left: 0;
}

#camcam #control {
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: 50;
    opacity: 1;
    text-align: center;
    color: #fff;
    line-height: 60px;
    top: inherit !important;
    height: auto !important;
    width: 100% !important;
    background-color: #474747;
}

#camcam #control .btn {
  margin: 0px 5px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

#camcam #control .container {
    padding-left: 0px;
    padding-right: 0px;
}

#camcam #control #snap {
    background-color: #17a1a1;
}

#camcam #control i {
    font-size: 30px;
    color: white;
}

#camcam #face-frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 49;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#camcam #face-frame.overlay-1{
background-image: url(../Images/dp-frame-overlay-one.png);
}

#camcam #face-frame.overlay-2{
background-image: url(../Images/dp-frame-overlay-two.png);
}

#camcam #snap {
    background-color: dimgray;
}

#camcam #retake {
    background-color: coral;
}

#camcam #perfect {
    background-color: rgb(18, 124, 4);
}

#camcam #close {
    background-color: rgb(18, 124, 4);
}

#camcam .hov {
    opacity: .8;
    transition: all .5s;
}

#camcam .hov:hover {
    opacity: 1;
    font-weight: bolder;
}



/*#canvas{
z-index: 1;
}
#video{
z-index: 3;
}*/


.error-msg{
    display: block;
    margin-top: 5px;
    color: red;
}


.schulfoto img.captured-bild{
   max-width: 25%;
    height: auto;
}