<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
This Template is responsible for displaying a single view for a domain object
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="content">
  <p class="lg">
    <f:translate key="chpwd_message_notes" /> ! % $ € - _ . : @ # & * + 
  </p>
  
  <f:if condition="{error} == '1'">

    <p class="pull-text-center lg"><f:translate key="pwd_not_match" /></p>
  </f:if>
  <f:if condition="{error} == '2'">
    <p class="pull-text-center lg">No secure password hashing service could be initialized. Please check your TYPO3 system configuration</p>
  </f:if>
  <f:if condition="{error} == '3'">
    <p class="pull-text-center lg">
      <ul>
        <f:for each="{suberror}" as="error">
          <f:switch expression="{error}">
            <f:case value="1"><li class="text-danger"><f:translate key="chpwd_message_error1" /></li></f:case>
            <f:case value="2"><li class="text-danger"><f:translate key="chpwd_message_error2" /> </li></f:case>
            <f:case value="3"><li class="text-danger"><f:translate key="chpwd_message_error3" /></li></f:case>
            <f:case value="4"> <li class="text-danger"><f:translate key="chpwd_message_error4" /> ! % $ € - _ . : @ # & * +</li></f:case>
            <f:case value="5"><li class="text-danger"><f:translate key="chpwd_message_error5" /></li></f:case>
        </f:switch>
        </f:for>
        
        
        
       
       
      </ul>
    </p>
  </f:if>

  <div class="site-form-module clearfix inset-padded-element">
    <f:form action="chpwprocess"  controller="Admin" enctype="multipart/form-data">

    <!-- form row -->
    <div class="form-row element element-gap-large">
        <label class="form-label"><f:translate key="new_pwd" /></label>
        <input type="password"  class="form-control" name="tx_schulfoto_adminchpwd[chpassword]" value="" placeholder="<f:translate key='new_pwd' />">
    </div>
    <!-- form row -->
     <!-- form row -->
     <div class="form-row element element-gap-large">
      <label class="form-label"><f:translate key="confirm_pwd" /></label>
      <input type="password"  class="form-control" name="tx_schulfoto_adminchpwd[conpassword]" value="" placeholder="<f:translate key='confirm_pwd' />">
  </div>
  <!-- form row -->
    <!-- form row -->
    <div class="form-row element element-gap-Extreme">
        <input type="submit" class="block-btn site-outline-btn site-btn dark-btn volume-lg" value="<f:translate key='submit_pwd' />">
    </div>
    <!-- form row -->
    </f:form>
</div>

</f:section>
</html>
