<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Schulfoto</title>
  <base href="{base_url}" target="_blank">
</head>
<body style="margin: 0px; padding: 0px;">
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <table cellpadding="0" cellspacing="0" style="border: 0px; max-width: 600px; margin: 0 auto; font-family: Arial; padding: 30px;">
        <tbody>
            <tr> 
                <td><img src="fileadmin/Images/primary-logo.png" width="200"></td>
                <td align="right"><img src="fileadmin/Images/secondary-logo.png" width="70"></td>
            </tr>
        
            <tr>
                <td style="padding: 0 0 20px; margin: 0px;" colspan="2">
                  <p style="line-height: 23px;">Hallo {username},</p>
                  <p style="line-height: 23px;">das Ausweisbild wurde von der Schulverwaltung entfernt. Um sicherzustellen, dass Ihr Ausweis weiterhin gültig ist, laden Sie bitte ein neues Bild hoch.</p>  
                  <p style="line-height: 23px;">Klicken Sie dafür auf den folgenden Link:</p>  
                    <p><a href="{login_url}" target="_blank">link</a></p>
                  <p style="line-height: 23px;">Vielen Dank!</p>
                </td>
            </tr>
            <tr> 
                <td><img src="fileadmin/Images/primary-logo.png" width="200"></td>
                <td align="right"><img src="fileadmin/Images/secondary-logo.png" width="70"></td>
            </tr>
            <tr>
                <td style="padding: 0 0 20px; margin: 0px;" colspan="2">
                  <p style="line-height: 23px;">Dear {username},</p>
                  <p style="line-height: 23px;">Your ID photo has been removed by the school administration. To ensure that your ID remains valid, please upload a new photo.</p>  
                  <p style="line-height: 23px;">Please click on the following link to upload your new ID photo:</p>  
                <p><a href="{login_url}" target="_blank">link</a></p>
                <p style="line-height: 23px;">Thank you!</p>
                </td>
            </tr>
            <tr> 
                <td style="text-align: center;" colspan="2">
                   <p style="line-height: 23px; padding: 20px; background-color: #eee; font-size: 14px;">
                        <strong>Energy-Imaging: Die Experten für Schulmarketing<br> Susanne Henkel Fotografie<br>Schubertstraße 21<br> 40699 Erkrath</strong><br> <a href="mailto:www.schülerausweis.de">www.schülerausweis.de</a><br> <a href="mailto: support@schülerausweis.de">support@schülerausweis.de</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
